<a href="#/reach/new" class="btn btn-primary"><i class="fa fa-plus"></i> New Reach item</a>
<a href="#/reach/graph" class="btn btn-default"><i class="fa fa-bar-chart-o"></i> View Reach graph</a>

<h1>Reach list</h1>
<p ng-bind="reach.message"></p>

<table class="table">
  <thead>
    <tr>
      <th rowspan="2">Index</th>
      <th colspan="2">Post impressions</th>
      <th colspan="2">Post impressions organic</th>
      <th colspan="2">Post impressions viral</th>
      <th colspan="2">Post impressions paid</th>
    </tr>
    <tr>
      <th>Value</th>
      <th>Timestamp</th>
      <th>Value</th>
      <th>Timestamp</th>
      <th>Value</th>
      <th>Timestamp</th>
      <th>Value</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in reach.list">
      <td ng-bind="$index"></td>
      <td ng-bind="item.post_impressions[0].value"></td>
      <td ng-bind="item.post_impressions[0].timestamp"></td>
      <td ng-bind="item.post_impressions_organic[0].value"></td>
      <td ng-bind="item.post_impressions_organic[0].timestamp"></td>
      <td ng-bind="item.post_impressions_viral[0].value"></td>
      <td ng-bind="item.post_impressions_viral[0].timestamp"></td>
      <td ng-bind="item.post_impressions_paid[0].value"></td>
      <td ng-bind="item.post_impressions_paid[0].timestamp"></td>
    </tr>
  </tbody>
</table>
